<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.firebase.referencecode.storage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StorageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".kotlin.DownloadActivity" />
        <activity android:name=".kotlin.StorageActivity" />
        <activity android:name=".FirebaseUIActivity" />
        <activity android:name=".DownloadActivity" />
        <activity android:name=".UploadActivity"></activity>
    </application>

</manifest>
