<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="devrel.firebase.google.com.firebaseoptions">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- [START fiam_disable_data_collection] -->
        <meta-data
            android:name="firebase_inapp_messaging_auto_data_collection_enabled"
            android:value="false" />
        <!-- [END fiam_disable_data_collection] -->

        <activity android:name="com.google.firebase.example.inappmessaging.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.google.firebase.example.inappmessaging.kotlin.MainActivity" />
    </application>

</manifest>
